.heading {
    .modal--header {   
  
      
      
      .heading {
        text-align: center;
        text-align: center;
        background-color: rgb(80, 112, 80);
        color: slategray;
        // display: flex;
        // justify-content: center;
        // align-items: center;
      }
    }
  }
  